argparse==1.4.0
black==24.4.2
brax==0.12.3
chex==0.1.86
cython<3
distrax==0.1.5
dm-control==1.0.5
jax[cuda12_pip]==0.5.3
evosax==0.2.0
flax==0.10.5
gym==0.26.2
gymnax==0.0.8
numpy==1.26.4
optax==0.2.3
orbax-checkpoint==0.4.4
pandas==2.0.3
phate==1.0.11
pyyaml==6.0.2
scipy==1.15.2
tqdm==4.67.1
tyro==0.7.3
wandb==0.17.3
matplotlib==3.10.1